.product-area {

}
.product-area .product-wrap {
    display: flex;
    gap: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
}
.img-wrap{
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; */
}
.img-wrap img {
    /* width: 15rem !important; */
    height: 14rem !important;
}
.carousel-indicators {
    bottom: -3rem;
}
.carousel-indicators [data-bs-target] {
    background-color: var(--color__base);
}
.carousel-control-next, 
.carousel-control-prev {
    color: var(--color__base);
    width: auto;
    font-size: 1.5rem;
}
.carousel-control-next:hover, 
.carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-prev:focus
{
    color: var(--color__base--hover);
}
.product-thumnail {
    width: 60%;

}
.product-info {
    width: 40%;
}
.product__name {
    text-align: center;
    color: var(--color__base);
    margin-bottom: 40px;
}
.tab-nav {
    margin-top: 2.5rem;
}
.product-tabs {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid var(--bg__grey--regular);
}

.product-tabs a {
    color: var(--text-color__grey--semibold);
    font-weight: var(--text__light);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 1rem;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in-out;
}
.product-tabs a:hover {
    color: var(--color__base);
    border-bottom: 2px solid var(--color__base);
}

.product-tabs a i {
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-tabs .active {
    color: var(--color__base) !important;
}
.nav-tabs .nav-link {
    color: var(--text-color__grey--semibold);
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: var(--color__base);
}
#description {
    padding: 1rem;
    color: var(--text-color__grey--semibold);
    background-color: white;
    border: 1px solid var(--bg__grey--regular);
    border-top: none;
    font-weight: var(--text__light);
}

#specifications {
    /* padding: 2.5rem 0;
    display: flex;
    gap: 2rem; */
    padding: 1rem;
    color: var(--text-color__grey--semibold);
    background-color: white;
    border: 1px solid var(--bg__grey--regular);
    border-top: none;
    font-weight: var(--text__light);
}
.specifications__title {
    margin-bottom: 2rem;
}
.specification {
    width: 50%;
}
.features {
    width: 50%;
}
.specifications-data {
    border-collapse: collapse;
    box-shadow: -2px 2px 7px var(--bg__grey--light);
    width: 100%;
    background-color: var(--bg__grey--regular);
}
.specifications-data td {
    border: 1px solid var(--bg__white);
    padding: 1rem;
}
.specifications-data tr:nth-child(even){background-color: var(--bg__grey--regular);}

.specifications-data tr:hover {
    color: var(--text-color__white);
    background-color: var(--bg__grey--semibold);
}

.download {
    padding: 1rem;
    color: var(--text-color__grey--semibold);
    background-color: white;
    border: 1px solid var(--bg__grey--regular);
    border-top: none;
    font-weight: var(--text__light);
    box-shadow: -2px 2px 5px var(--bg__grey--regular);
    border-radius: 16px;
    margin-bottom: 1rem;
}
.download__title {
    margin-bottom: 1rem;
}
.download__thumnail {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -2px 2px 5px var(--bg__grey--regular);
}
.download-item {
    font-weight: 300;
    font-size: 14px;
    padding: 0.5rem 0;
}
.download-item a {
    display: inline-block;
    color: var(--text-color__red);
}
.download-meta {
    font-size: 10px;
}
.download-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

@media screen and (max-width: 769px) {
    #specifications {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 576px) {
    .img-wrap img {
        height: 12rem !important;
    }
    .product__name {
        text-align: justify;
    }
    .download-wrap {
        display: flex;
        flex-wrap: wrap;
    }
}

